/* 
Цвет текста (заголовки) - #212121;
Цвет текста (основной) - #757575;
Цвет текста (ссылки навигации) - #212121;
Цвет текста (акцент) - #2196F3; 
Цвет фона - #FFFFFF
Цвет фона (вторичный) - #2F303A
Цвет текста (адреса в футере) - 255, 255, 255, 0,6; 
Цвет фона секции - #F5F4FA
Цвет лого - #000000 
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bckg-color: #ffffff;
  --footer-bckg-color: #2f303a;
}
body {
  background-color: var(--primary-bckg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
/* Убираем метки из ul */
.list {
  list-style: none;
}
/* Site Nav */
.header-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-span {
  color: #2196f3;
}
.site-nav .link {
  color: #212121;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Adress Nav */
.address-nav .link {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
  font-style: normal;
}
/* Main */
/* Герой */
.hero {
  background-color: var(--footer-bckg-color);
}
.hero-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.section,
.team {
  color: var(--primary-text-color);
}
.section-title {
  color: var(--title-text-color);
}
/* Team Section (выделяется из остальных секций наличием бежевого фона.
Задаем секции фон, как на макете) */
.team {
  background-color: #f5f4fa;
}
/* Footer */
.footer {
  background-color: var(--footer-bckg-color);
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo,
.map-link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}
.filter-button {
  background-color: #f5f4fa;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
