/* 
Цвет текста (заголовки) - #212121;
Цвет текста (основной) - #757575;
Цвет текста (ссылки навигации) - #212121;
Цвет текста (акцент) - #2196F3; 
Цвет фона - #FFFFFF
Цвет фона (вторичный) - #2F303A
Цвет текста (адреса в футере) - 255, 255, 255, 0,6; 
Цвет фона секции - #F5F4FA
Цвет лого - #000000 
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bckg-color: #ffffff;
  --footer-bckg-color: #2f303a;
}
body {
  background-color: var(--primary-bckg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
/* Убираеn метки из списков */
.unmarked {
  list-style: none;
}
/* Убирает подчеркивания из ссылок */
.link {
  text-decoration: none;
}
/* Подсвечивает текущую страницу */
.current {
  color: var(--accent-color);
}
/* =========HEADER========= */
.header-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.headlogo-span {
  color: #000000;
}
.site-nav {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
